@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Manrope:wght@600;700;800&family=Merriweather:wght@300;400;700&family=Outfit:wght@300;400;700&family=Overpass:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;700&family=Tiro+Telugu&display=swap");
@import "./styles/core/mixins.scss";
@import "./styles/core/components.scss";
@import "./styles/core/typography.scss";
@import "./styles/layout/index.scss";

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  /* 1 rem = 10px; 10px/16px = 62.5% */
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}
