// Colors
$primary: #030303;
$accent: #eb7565;

$pink: #f39e9e;
$cyan: #61c4b7;
$darkPurple: #552049;
$lightCream: #fff7f0;
$mediumBrown: #7a746e;
$galacticBlue: #755cde;
$summerYellow: #f6a560;
$white: #ffffff;

// Layout
$mainGridGap: 6rem;
