@import "../core/mixins.scss";
@import "../core/variables.scss";

:root {
  --slides-visible: 3;

  @include screenSizeTablet {
    --slides-visible: 1;
  }
}

#my-work {
  grid-area: myWork;

  display: flex;
  align-items: center;
  flex-direction: column;

  .slide {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;

    img {
      $gap: 1rem;
      $imgWidth: calc(100% / var(--slides-visible) - #{$gap} / var(--slides-visible));

      width: $imgWidth;
      max-height: 36rem;
      border-radius: 1rem;
      margin-right: $gap;
      transition: transform 0.2s ease-in-out;

      @include screenSizeTablet {
        margin-right: 0;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }

    &--buttons {
      display: flex;
      justify-content: space-between;
      width: 14.4rem;
      margin-top: $mainGridGap;

      @include screenSizeMobile {
        margin-top: calc(#{$mainGridGap} / 2);
      }
    }
  }
}
