@import "../core/mixins.scss";
@import "../core/variables.scss";

#who-i-am {
  grid-area: whoIAm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $mainGridGap;

  img {
    height: 44.5rem;

    @include screenSizeTablet {
      margin-left: -$mainGridGap * 0.75;
      max-width: 50%;
      width: auto;
      height: auto;
    }
  }

  .who-i-am__text-container {
    width: 50%;
    max-width: 54rem;
    margin-left: $mainGridGap;

    @include screenSizeTablet {
    }

    p {
      color: $mediumBrown;
      margin-bottom: 4rem;
    }
  }
}
